body {
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: monospace;
    font-size: 1.2em;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: outset;
    border-color: black;
}
